body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

/* HEADER */

.container {
    margin: 0px 166px;
}

.header {
    background-image: url(../img/bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__line {
    justify-content: space-around;
    padding-top: 50px;
    display: flex;
    align-items: center;
}

.nav__item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;
    transition: color .2s linear;
}

.nav__item:hover {
    color: red;
}

.cart {
    position: relative;
    border-right: 1px solid #FFFFFF;
    padding-right: 10px;
    height: 50px;
}

.cart__img {
    position: absolute;
    top: 18px;
    right: 7px;
}

.phone__num {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    transition: color .2s linear;

}

.phone__num:hover {
    color: red;
}

.phone__text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.phone__holder {
    display: flex;
    align-items: center;
}

.button {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 14px 18px;
    font-weight: 700;
    transition: background-color .2s linear;

}

.button:hover {
    background-color: rgb(255, 60, 1);
}

.header_menu {
    display: none;
}

.burger__slide{
    display: none;
}

.block {
    display: block;
}

.button__burger{
    border: none;
    outline: none;
    background-color: transparent;
}

.burger-slide{
    
}

/* HEADER DOWN*/

.header__down {
    position: relative;
}

.header__title {
    color: #FF7400;
    font-family: 'Tinos', serif;
    font-size: 50px;
    font-weight: 400;
    position: absolute;
    text-align: center;
    left: 0;
    margin-top: 222px;
    margin-bottom: 12px;
}

.header__suptitle {
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.header__suptitle:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 127px;
    left: 56px;
}

.header__suptitle:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 127px;
    left: 308px;
}

.header__button {
    background-color: #FF7400;
    color: #fff;
    padding: 14px 28px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    transition: background-color .2s linear;
    text-transform: uppercase;
}

.header__button:hover {
    background-color: rgb(255, 60, 1);
}

/* CARD */

.cards__holder {
    display: flex;
    justify-content: center;
}

.card {
    box-shadow: 10px 10px 40px 20px #0000001A;
    width: 349px;
    margin-right: 31px;
    background-color: #fff;
    margin-top: -40px;
    padding: 10px 10px;

}

.card__image {
    display: flex;
    justify-content: center;
    padding-top: 31px;
}

.card__title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Tinos', serif;

}

.card__desc {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #656363;
    font-family: 'Tinos', serif;

}

.card__title span {
    color: #BC9060;
}


/* HiSROTY */

.history {
    margin-top: 166px;
    padding-bottom: 200px;
}

.history__title {
    font-size: 54px;
    font-weight: 400;
    font-family: 'Tinos', serif;
    width: 444px;
    margin-top: 21px;
    text-align: center;
}

.history__title span {
    color: #BC9060;
}


.history__desc {
    color: #656363;
    font-size: 16px;
    width: 444px;
    text-align: center;
}

.history__number {
    display: flex;
    justify-content: center;
    width: 444px;
    margin-top: 40px;
    margin-left: 30px;
}


.number__item {
    margin-right: 60px;
    text-align: center;
    font-size: 40px;
    color: #BC9060;
}

.number__item span {
    display: block;
    color: #000;
    font-size: 20px;

}

.history__holder {
    display: flex;
    justify-content: space-between;
}

.history__images {
    position: relative;
}

.images__1 {
    position: absolute;
    z-index: 999;
    top: -123px;
    left: -454px;
}

.images__2 {
    position: absolute;
    z-index: 999;
    top: -34px;
    left: -253px;
}

.images__3 {
    position: absolute;
    z-index: 999;
    top: 100px;
    left: -416px;
}

.black__block {
    background-image: url(../img/black.png);
    padding: 80px 0;
}

.left__title {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 52px;
    color: #D67E34;
    margin-bottom: 20px;
}

.left__text {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.block__holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dishes__title {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 54px;
    text-align: center;
    padding-top: 132px;
    margin-bottom: 139px;
}

.dishes__title span {
    color: #D67E34;
}

.burgers {
    display: flex;
    justify-content: center;
}

.burger__item {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}


.burgers__image {
    margin-right: 20px;
}


.burger__text {
    font-family: 'Tinos', serif;
    font-size: 26px;
    margin-left: 20px;

}

.menu {
    background-image: url(../img/menubg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.menu__title {
    font-family: 'Tinos', serif;
    font-size: 54px;
    padding-top: 98px;
    color: #fff;
    text-align: center;
    padding-bottom: 138px;
}

.menu__item {
    background-color: #fff;
    text-align: center;
    width: 33%;
    padding-top: 80px;
    padding-bottom: 30px;
    margin-right: 20px;
}

.menu__text {
    font-family: 'Tinos', serif;
    font-size: 26px;
    padding-top: 16px;
    padding-bottom: 17px;
}

.menu__subtext {
    font-size: 16px;
}

.menu__btn {
    background-color: #D67E34;
    text-decoration: none;
    padding: 14px 67px;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 5px 5px 10px 0px #00000040;
}

.menu__button {
    margin-top: 20px;
}

.menu__img__price {
    position: absolute;
    bottom: -8px;
    right: -15px;
}

.menu__image {
    position: relative;
}

.menu__price__420 {
    position: absolute;
    bottom: 25px;
    right: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #fff;
}

.menu__items {
    display: flex;
    justify-content: center;
}

.comment {
    background-color: #E5E5E5;
    padding-top: 104px;
    padding-bottom: 139px;
}

.comment__text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.comment__image {
    text-align: center;
}

.comment__type {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.comment__name {
    padding-top: 9px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.galery__titile {
    text-align: center;
    font-size: 54px;
    padding-top: 100px;
    margin-bottom: 60px;
}

.galery__titile span {
    color: #D67E34;
}

.galery__content {
    display: flex;
    justify-content: center;
}

.galery__left {
    margin-right: 20px;

}

.galery__down,
.galery__up {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cook {
    padding-bottom: 100px;
}

.cook__conent {
    display: flex;
    justify-content: space-around;
}

.cook__title {
    font-size: 54px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

.cook__title span {
    color: #D67E34;
}


.footer {
    background-color: #000;
    padding: 30px 0;
    color: #fff;
    text-align: center;
}


@media (max-width: 1500px) {

    .galery__up,
    .galery__down {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .galery_img {
        margin-bottom: 20px;
    }

    .galery__left {
        margin-right: 0;
    }


}

@media (max-width: 1300px) {


    .header__title {
        position: static;

    }

    .header__suptitle:before,
    .header__suptitle::after {
        content: none;
    }


    .menu__items {
        display: block;
    }

    .menu__item {
        margin: 20px auto;
        width: 600px;
    }


    .cook__conent {
        display: block;

    }

    .cook__conent img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
    }

    .block__holder {
        display: block;
    }

    .left__title,
    .left__text,
    .right__button,
    .button{text-align: center;
    }

    .right__button {
        margin-top: 30px;
    }

    .history__images {
        display: none;
    }

    .history__title,
    .history__desc,
    .history__number {
        width: auto;
    }
}


@media (max-width: 1185px) {
    .header_menu {
        display: block;

    }

    .galery__content {
        display: block;
    }

    .galery_img,
    .galery__up,
    .galery__down {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .high {
        display: none;
    }

    .nav__item,
    .btn,
    .cart,
    .phone {
        display: none;
    }

    .header__line {
        justify-content: space-between;
    }

    .burgers__image {
        display: none;
    }
}

@media (max-width: 1000px) {

    .cards__holder {
        display: block;
    }

    .card {
        width: 100%;
        margin-top: 30px;
        padding-bottom: 20px;
    }
}

@media (max-width: 780px) {
    .history__holder {
        display: block;
    }

    .menu__item {
        width: 100%;
    }

    .high {
        display: none;
    }

    .container {
        margin: auto 40px;
    }


    .number__item {
        font-size: 23px;
    }

}